*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

ul,ol{
    list-style: none;
    margin-top: 20px;
}

body{
    background-color: #b1b0b0;
}

header{
    margin-bottom: 50px;
    background-color: white;
}

.logo-title{
    font-size: 50px;
    vertical-align:baseline;
    display: inline-block;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.box{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
}

.padding{
    padding-left: 50px;
}

.margin-top{
    margin-top: 4px;
}

.add{
    width: 90px;
    height: 30px;
    border-radius: 5px;
}

.blue{
    background-color: rgb(0, 184, 245);
    color: white;
    margin-left: 38px;
}

.white{
    background-color: white;
    color: grey;
}

.list-title{
    font-size: 25px;
    margin-bottom: 10px;
}

.list-content{
    font-size: 18px;
    margin-bottom: 15px;
}

.list-circle{
    display: inline-block;
    font-size: 30px;
}

.red{
    color: red;
}

.green{
    color: green;
}

.squere{
    display: inline-block;
    border-radius: 10px;
    padding: 3px 5px;
    color: white;
    font-size: 12px;
}

.light-blue{
    background-color:rgb(0, 184, 245);
    
}

.purple{
    background-color: purple;
}

.darck-green{
    background-color: rgb(0, 134, 7);
}

.orange{
    background-color: orange;
}

.pink{
    background-color: rgb(255, 73, 104);
}

.light-green{
    background-color: rgb(74, 237, 74);
}